body {
  background-color: #eee;
}

.container {
  padding-top: 10vh;
  width: 600px;
  margin: 0 auto;
  text-align: right;
  font-size: 30px;
  font-weight: 700;
}

.products {
  text-align: left;
  display: flex;
}

span {
  font-size: 120px;
}

.product {
}
